<footer>
    <div class="footer-content">
     <div class="footer-content__text">
       <h4>Want to Annotate?</h4>
       <p>Are you a writter? Feel like you could provide some great fedback on movies. Here are the features and benefits of becoming a member</p>
       <ul>
         <li>Discuss movies with friends</li>
         <li>Build your collection of discussed films</li>
         <li>Save your favorite movies</li>
       </ul>
     </div> 
 
     <div class="footer-content__form">
       <h4>Create Account</h4>
       <form action="">
         <div class="form-row form-row__1">
           <input type="text" placeholder="First name">
           <input type="text" placeholder="Last name">
         </div>
         <div class="form-row">
           <input class="form-row " type="text" placeholder="Email addres">
         </div>
         <div class="form-row">
           <input class="form-row" type="password" placeholder="Password">
         </div>
         <div class="form-row"><span>Already have an account? <a href="/">Sign in</a></span> <button class="btn">Create Account</button> </div>
       </form>
     </div>
    </div>
  </footer>
