@import "_config"; 

.movie-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    @include for-tablet-portrait-up{
      padding: 0;
    }
    &__item{
      margin:5px auto;
      text-align: center;
      transition:all 0.2s ease;
      cursor: pointer;
      @include for-tablet-portrait-up{
        flex: 0 33%;
        margin:5px 0;
      }
      @include for-desktop-up{
        flex: 20%;
      }
     img{
      width: 150px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      @include for-tablet-portrait-up{
        width: auto;
      }
    }
     &:hover{
      transform: scale(1.05);
     } 
    }
  }