@import "_config"; 

.top-movie-section{
    padding: 1px; //prevent margin collapse
  
    background: #F2EFEE;
  }
  
  .top-movie-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  
    &__item{
      margin:5px auto;
      flex: 16.66%;
      text-align: center;
      transition:all 0.2s ease;
      cursor: pointer;
      @include for-tablet-portrait-up{
        flex: 0 33%;
        margin:5px 0;
      }
      @include for-desktop-up{
        flex: 16%;
      }
     img{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     }
     &:hover{
      transform: scale(1.05);
     } 
    }
  }